


<app-listdemo></app-listdemo>

<!--<p> hello app component</p>
<app-event></app-event>

<ul>
<li>SZIN</li>
<li>EFOT</li>
<li>VOLT</li>
<li>FEZEN</li>

</ul>

<hr>
{{ title | uppercase }}
<hr>
{{pipeDemo | json}}
<hr>


<input type="text" [(ngModel)]="inputContent">
<div>
    {{inputContent}}
</div>

<button
 (click)="toggle()"
 (dblclick)="demo($event)"
 [disabled]="klikkeljunke"
 
 
 >
    Toggle
</button>


<ul>
    <li *ngFor = "let event of events"> {{event}}</li>
    
    
    </ul>


    <div *ngIf="show">
<p>
Vass Mihály Alex

</p>

    </div>


<div>
    <p [ngClass]="{'valami': show}">
        ngclass demo
    </p>
</div>





 <h3> ez az alap html</h3>
 <app-alma></app-alma>
 <app-alma></app-alma>
 <app-alma></app-alma>
 <app-alma></app-alma>
 <app-alma></app-alma>
 <app-alma></app-alma>
 <app-alma></app-alma>-->